@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("source/bubble.png") no-repeat center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    a-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.login-form {
    position: relative;
    z-index: 2;
}

.login-form h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.int-area {
    width: 400px;
    position: relative;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: top .5s ease;
}

.int-area input:focus+label,
.int-area input:valid+label {
    top: 0;
}